.navbar{
    .navbar-nav{

        display: flex;
        padding-left: 48px;
        gap: 44px
    }

    .navbar-link{
        color: black;
        &:hover{
            color:rgba(0, 0, 0, 0.7)
        }
    }
    .signin-user-component{
        li{
            list-style: none;

            .dropdown-toggle{
                color: black;

                font-weight: 700;
                .align-middle{
                    font-size: 16px;
                }

                &:hover {
                    color: rgba(0, 0, 0, 0.8);
                }
            }
        }
    }
}


.custom-homepage {
//     Banner Section
    .homepage-banner {
        .banner-title{
            color: #091F32;
            font-weight: 700;
            text-align: left;
        }
        .banner-subtitle{
            color:#4D4D4D;
            font-size: 20px;
            text-align: left;
        }
        .btn{
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border-radius: 50px;
            &:hover {
                background-color: #0056b3;
                color: white;
            }
        }
    }
// Section News
    .homepage-news{
        .news-header{
            color: #007BFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 44px;
            img {
                padding-right: 10px;
                padding-left: 15px;
            }
        }
        .news-slider{
            .news-wrap{
                h5 {
                    font-weight: 700;
                }
            }
        }
    }
    .homepage-intention{
        padding: 60px 0;
        #group26{
            position: absolute;
            top: 92px;
            left: 58px;
        }
        #group25{
            position: absolute;
            top: 470px;
            left: 230px;
        }
        #group24{
            position: absolute;
            top: 481px;
            left: 1256px;
        }
        #group24-vector{
            position: absolute;
            top: 562.06px;
            left: 1257.94px;
            transform: rotate(-180deg);
        }
        #group23{
            position: absolute;
            top: 76px;
            left: 1290px;
        }
        .title-section{
            color: #007BFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 44px;
            padding: 20px 0;
            img {
                padding-right: 10px;
            }
        }
    }
    .homepage-gallery{
        .gallery-header{
            color: #007BFF;
            font-size: 24px;
            font-weight: 700;
            line-height: 44px;
            padding-bottom: 30px;
            img {
                padding-right: 10px;
            }
        }
        .gallery-item{
            .video-container{
                video{
                    object-fit: cover;
                    width: 540px;
                    height: 270px;
                }
            }
        }

    }



}


//         .news-info{
//             padding-left: 10px;
//             .news-date{
//                 float: left;
//                 p{
//                     color: #808080;
//                     display: inline-block;
//                     font-size: 14px;
//                 }
//             }
//             h2{
//                 font-size: 18px;
//                 color: #4d4d4d;
//                 text-align: left;
//                 float: left;
//             }
//             p{
//                 color: #808080;
//                 font-size: 16px;
//                 float: left;
//                 text-align: left;
//             }
//         }
//